body{
    display: grid;
    background-image: url("../images/BG Checks.svg");
    background-color: white;
    text-align: center;
    font-family: 'Love Ya Like A Sister','Alegreya Sans SC',sans-serif;  
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"; 
    justify-items: center;
    width: 100%;
    
}
header{
    grid-area: header;
    width: 100%;
     }
main{
    grid-area: main;
    grid-row:header/main;
    width: 100%;
    margin-top: 250px;
   
}
footer{
    display: grid;
    grid-area: footer;
    grid-row: main/soil;
    margin-top: 559px;
    width: 100%;
    height: 60px;
    grid-template-areas:
     "blockmenu blockmenu blockmenu blockmenu";
            }
p{
    font-family:'Love Ya Like A Sister';
    color: rgb(130, 149, 119);
    margin: 50px;
}
.menu{
    font-family: 'Alegreya Sans SC';
    text-decoration: none;
    color: rgb(81, 98, 75);
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    }
  .menu:hover{
    font-weight: bolder;
    text-decoration: underline;
  }
    
.blockmenu{
        background-color: white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 500px;
        height: 52px;
        justify-self: center;

            }
.p1,
.p2{
    font-size: 80px;
}
.p3{
    font-size: 280px;
    padding-left: 40px;
padding-right: 30px;
}

.plant1{
    grid-area: plant1;
    
}
.plant2{
    grid-area: plant2;
    
}
.plant3{
    grid-area: plant3;
    
}
.plant4{
    grid-area: plant4;
    
}
.logo{
    grid-area: logo;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;

}
.headerposition{
    display: grid;
    grid-template-areas:
     "plant1 plant2 logo plant3 plant4" ;
   justify-content:space-between;
}
.maininside{
    display: grid;
    grid-template-areas: 
    "p1 p1 p1"
    "p2 p2 p2"
    "p3 p3 p3"
    "imagesmain imagesmain imagesmain"
    "soil soil soil";
    grid-area: maininside;
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.imagesmain{
    display: grid;
    grid-area: imagesmain;
    justify-content:space-between;
    grid-template-areas: "plant5 plant6";
    grid-row:p3/soil;
    margin-top: 190px;
   }
.plant5{
    grid-area: plant5;
    position: relative;
    
}
.plant6{
    grid-area: plant6;
    position: relative;
    
}
.soil{
    display: grid;
    grid-area: soil;
    width: 100%;
    }
.blockmenu{
    grid-area: blockmenu;
           }