.container{
    display: grid;
    text-align: center;
    grid-template-areas: 
    "header header header header"
    "contmain contmain contmain contmain"
    "footer footer footer footer"; 
    }
    header{
        background-color: rgb(190, 187, 187);
        grid-area: header;
        height: 50px;
        width: 100%;
        padding: 0px 10px 10px;
      }
    footer {
        background-color: rgb(190, 187, 187);
        grid-area: footer;
        height: 100px;
        width: 100%;
        
    }
    .contmain{
        grid-area: contmain;
    }
    .left{
        background-color: rgb(246, 246, 161);
        grid-area: left;
    }

    .right{
        background-color: rgb(120, 161, 120);
        grid-area: right;
    }
    .block1,
    .block2,
    .block3{
        background-color: yellow;
        margin: 10px;
           }
    .footer1,
    .footer2,
    .footer3,
    .footer4{
        background-color: grey;
        margin: 10px;
    }

    .contmain{
        display: grid;
        grid-template-areas: 
        "left left left right";
        height: 75vh;
    }
    .maintext{
        grid-area: maintext;
        padding: 10px 10px 30px;
    }

    .block1{ grid-area: block1;}
    .block2{ grid-area: block2;}
    .block3{ grid-area: block3;}
    .left{
        display: grid;
        grid-template-areas: 
        "maintext maintext"
        "block1 block2"
        "block3 block3";
        gap: 10px 20px;

    }
.footermain{
    display: grid;
    grid-template-areas: 
    "footer1 footer2 footer3 footer4";
    gap: 10px;
    padding: 10px;
}

    .footer1{
        grid-area: footer1;
    }
    .footer2{
        grid-area: footer2;
    }
    .footer3{
        grid-area: footer3;
    }
    .footer4{
        grid-area: footer4;
    }
